<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Single Post')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="card" style="width: 100%;">
        <img class="card-img-top" th:src="${'/uploaded-img/posts/' + post.image}" alt="Card image cap" />
        <div class="card-body">
            <h1><span th:text="${post.title}"></span></h1>
            <div th:each="category : ${post.categories}">
                <h3 class="pink-text pb-2 pt-1"><span th:class="${category.icon}"></span></h3>
            </div>
            <hr />
            <p><em>by <span th:text="${username}"></span></em></p>
            <p class="card-text"><span th:text="${post.body}"></span></p>
        </div>
    </div>
</div>

</body>
</html>

