<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Single Post')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div>
    <!--TODO: add in images-->
     <!--<img th:src="${post.image}" class="image-header" alt="computer" />-->
</div>
    <div class="container">
        <p>Title:</p>
        <h2><span th:text="${post.title}"></span></h2>

        <p>Body:</p>
        <p><span th:text="${post.body}"></span></p>
    </div>
</body>
</html>

