<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Register')"></head>
<body>
<div>
<div th:replace="fragments/navbar :: navbar"></div>


<div class="container">
    <h1>Create an Account:</h1>
    <form th:action="@{/sign-up}" method="post" th:object="${user}" enctype="multipart/form-data">
        <!--<form action="/profile" method="post" enctype="multipart/form-data">-->
        <div class="form-group">
            <label for="username">Username</label>
            <input th:field="*{username}"  type="text" class="form-control" id="username" placeholder="Enter username"/>
        </div>
        <div class="form-group">
        <label for="email">Email</label>
            <input th:field="*{email}"  type="text" class="form-control" id="email" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Enter password"/>
        </div>

            <label for="file">Upload a Profile Picture</label>
            <input id="file" name="file" type="file" />
            <br />
            <!--<input type="submit" value="upload" />-->

        <input value="Sign me up!" type="submit" />
        <!--</form>-->
    </form>
</div>
</div>
</body>
</html>