<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

</body>


<footer th:fragment="footer">
    <!--Material Design-->
    <!--SCRIPTS-->
    <!--JQuery-->
    <script type="text/javascript" src="material-design/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="material-design/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="material-design/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="material-design/js/mdb.js"></script>
</footer>
</html>

