h1 {
    font-family: 'Playfair Display', serif;
}

.fancy-serif {
    font-family: 'Playfair Display', serif;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}


.image-header {
    width: auto;
}

.btn-round {
    border-radius: 50%;
    font-size: 5em;
}