<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Resume')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1>Resume Page</h1>
    <div>
        <h3>Projects</h3>
        <h5>Blog</h5>
        <p>February 2019</p>
        <p>This is information about this blog project. It will have about 3 sentences. It will explain the project.</p>
        <h5>Adlister</h5>
        <p>February 2019</p>
        <p>I worked on a team of three to create an application that users can posts ads. Users have the ability to edit their profile, posts, edit and delete ads, and delete their profile. This project was a pair programming project using Github for the version control.</p>
        <h5>MovieBox</h5>
        <p>December 2018</p>
        <p>I pair programmed to create the MovieBox application. This application allows users to add, edit, delete, and rate movies.</p>
        <h5>Coffee Project</h5>
        <p>December 2018</p>
        <p>I pair programmed to create a coffee shop website. This application has the ability to search through the list of coffees by name or roast. The search uses live search and updates the results as each key is pressed. Users are also allowed to add new coffees to the list.</p>
    </div>
    <div>
        <h3>Work Experience</h3>

        <h5>ShadowGlen Elementary - Kindergarten Teacher</h5>
        <p>2017-2018</p>
        <p>Filler text here about teaching.Filler text here about teaching.Filler text here about teaching.Filler text here about teaching.</p>

        <h5>Megalomedia - Assistant Editor, My 600lb Life</h5>
        <p>2016-2017</p>
        <p>Filler text here about editing.Filler text here about editing.Filler text here about editing.Filler text here about editing.</p>

        <h5>Alliance Graphics and Printing - Graphic Designer</h5>
        <p>2016</p>
        <p>Filler text here about graphic design.Filler text here about graphic design.Filler text here about graphic design.Filler text here about graphic design.</p>
    </div>
    <div>
        <h3>Education</h3>
        <h5>The University of Texas at Austin - B.S Communications</h5>
        <p>December 2015</p>
        <p>Filler text here about UT. Filler text here about  UT.Filler text here about  UT.Filler text here about  UT.</p>
    </div>




</div>

</body>
</html>